<section>
    <h2>Your balance: {{user.balance}}</h2>
    <a routerLink="../add">Finance Management</a>
    <section *ngIf="!transactions">
        Loading transactions!!! Retrieving data...
    </section>
    <ul id="transactions-list">
        <li *ngFor="let transaction of transactions"
            (click)="onSelect(transaction)"
            [class.selected]="transaction === selectedTransaction">
            <span >ID: {{transaction.transactionId}}</span>
            <br>
            <span>Amount: {{transaction.amount}}</span>
            <div *ngIf="selectedTransaction === transaction">
                <span>Date Time: {{selectedTransaction.dateTime}}</span>
                <br>
                <span>Description: {{selectedTransaction.info}}</span>
            </div>
        </li>
    </ul>
</section>
<button (click)="goBack()" class="btn btn-primary">Back</button>